<div class="employee-header">
  <h1>Employees</h1>
  <div>
    <button>Add New</button>
    <span
      ><fa-icon [icon]="icon" class="icon" /><input
        #searchInput
        (change)="onSearchInputChange(searchInput.value)"
        [value]="searchString"
    /></span>
  </div>
</div>
<div class="addButton"></div>

Total number:
{{ employees.length }}

<table [cellSpacing]="0">
  <thead>
    <tr>
      <th (click)="onSortBy('name', nameField)">
        Name
        <span #nameField>▴</span>
      </th>
      <th (click)="onSortBy('jobTitle', jobTitleField)">
        Job Title
        <span #jobTitleField>▴</span>
      </th>
      <th (click)="onSortBy('department', departmentField)">
        Department
        <span #departmentField>▴</span>
      </th>
      <th (click)="onSortBy('status', statusField)">
        Status
        <span #statusField>▴</span>
      </th>
      <th (click)="onSortBy('joiningDate', joiningDateField)">
        Joining Date
        <span #joiningDateField>▴</span>
      </th>
      <th></th>
    </tr>
  </thead>
  <div class="divider"></div>
  <tbody>
    @for(employee of employees; track employee.id){
    <tr>
      <td>
        <a
          [routerLink]="['employees', employee.id]"
          routerLinkActive="router-link-active"
          >{{ employee.name }}</a
        >
      </td>
      <td>{{ employee.jobTitle }}</td>
      <td>{{ employee.department }}</td>
      <td>
        <span
          [class]="{
            pill: true,
            'status-active': employee.status == 'Active',
            'status-leave': employee.status == 'On Leave',
            'status-resigned': employee.status == 'Resigned'
          }"
          >{{ employee.status }}</span
        >
      </td>
      <td>{{ employee.joiningDate }}</td>
      <td>
        <button>Edit</button>
        <button>Delete</button>
      </td>
    </tr>
    <div class="divider"></div>
    }
  </tbody>
</table>
