@use "../../../styles/variables";
@use "../../../styles/global.scss";

h1 {
  text-transform: uppercase;
}

h4 {
  background-color: variables.$grey;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}

table {
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  text-align: start;

  th,
  td {
    border-radius: 5px;
    padding: 5px 10px;
    text-align: start;
  }

  th {
    width: fit-content;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.pill {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 0.75rem;
  border: 0;
  font-family: variables.$font-family;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.00875rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: -10px 0;
}

.status {
  &-active {
    color: lightseagreen;
  }
  &-leave {
    color: red;
  }
  &-resigned {
    color: grey;
  }
}

div .graph {
  width: 800px;
  aspect-ratio: 2/1;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.employee-modal {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;

  .close-btn {
    width: max-content;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
  }

  h3 {
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;

    label {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    input[type="text"],
    input[type="date"],
    select {
      height: fit-content;
      border: 2px solid variables.$grey;
      padding: 8px;
      border-radius: 10px;
      outline: none;
      font-size: 1rem;
      text-indent: 0px;
      font-family: variables.$font-family;
    }

    button {
      margin-top: 20px;
    }
  }
}


button {
  width: 100%;
  color: variables.$grey;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 1.25rem;
  border: 2px solid variables.$grey;
  font-family: variables.$font-family;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
  cursor: pointer;

  &::selection {
    background: none;
  }

  &:hover {
    background-color: variables.$grey;
    color: #fff;
  }
}